main {
  width: calc(100vw - (100vw - 100%));
  min-height: 80vh;
}
#start-btn {
  animation: move 3s infinite;
}
#start-btn:hover {
  animation-play-state: paused;
}
@keyframes move {
  0% {
    position: relative;
    right: 0px;
  }
  25% {
    position: relative;
    right: 0px;
    transform: scale(1);
  }
  50% {
    position: relative;
    right: 0px;
    transform: scale(1.1);
  }
  75% {
    position: relative;
    transform: scale(1);

    right: 0px;
  }
  100% {
    position: relative;

    right: 0px;
  }
}
